
.heading{
	font-size: 52px;
  font-family: Chalkduster, fantasy;
  font-style: italic;
  
  color: #D81B60 ;
 margin-bottom: 40px;
}

* {
  box-sizing: border-box;
  margin: 4px;
  padding: 8px;
}
input
{
	max-width: 100%;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.search-inline{
  padding: 8px;
  margin-left: 32px;
  margin-right: 32px;
  
}


.form-inline label {
  margin: 5px 10px 5px 0;
}


.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.form-inline button {
  padding: 10px 24px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
}

.form-inline button:hover {
  background-color: royalblue;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}

.row {
  white-space: nowrap;
}

.row > div {
  width: 150px;
  display: inline-block;
}

#card-body{
    padding: 45px 45px 40px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    height: 240px;
    max-width: 280px;
    max-height: 360px;
    background-color: #B3E5FC;
    padding: 30px 30px;
    margin: 20px 10px;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    border : 1px solid white;
   
}
.card:hover{
    box-shadow: 1px 1px 14px 1px #a59393;
}

.company_logo{
    height: 56px;
    width: 64px;
    position: absolute;
    top: -8%;
    border-radius: 12px;
    object-fit: contain;
    background-color: #ECEFF1;
}

.job_type , .company,.company_name{
    color: #455A64;
    font-size: 16px;
}

.location{
    margin-top: 16px;
    color: #FF0066;
    font-size: 16px;
}

.card > .title{
    color: #1976D2;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.load_btn{
    border-radius: 4px;
    height: 40px;
    width: 100px;
    color: white;
    background-color:#F48FB1 ;
    cursor: pointer;
    justify-content: center;
    margin-left: 50%;
    margin-right: 50%;
}



.describe-bar{
  display: inline-block;

}



.description-body{
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 12px;
    font-size: 20px;
}


.description-company-name > .job-location{
    margin-top: 16px;
    font-size: 20px;
    color: black;
}

.job-view-title{
  font-size: 32px;
  color: black;
  margin-top: 100px;
  margin-left: 24px;
}

.row {
  white-space: nowrap;
}

.row > div {
  width: 100%;
  padding: 20px;
  margin: 12px;
  display: inline-block;
}

.apply-now-button{
    border: none;
    border-radius: 4px;
    height: 40px;
    width: 100px;
    color: white;
    background-color: #2E5090;
    cursor: pointer;
}
.job-view-site{
    border: none;
    border-radius: 4px;
    height: 40px;
    width: 100px;
    color: white;
    background-color: #2E5090;
}
.description-title,.description_job-type{
  font-size: 20px;
  color: gray;
  margin: 12px; 

}
.job-title{
  font-size: 28px;
  color: #F39C12  ;
  margin: 12px; 

}


.search-btn{
  background-color: #5190ED;
  color: 
}

.container {
  display: flex;
}

.job-company-logo
{
  height: 160px;
  width: 160px;
  background-color: #9CCC65 ;
  margin-left: auto;
  margin-right: auto;
  margin-top: 36px;
}